@import "customVariables";
 @import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
 
 
*{
	margin:0;
	padding:0;
}


html,body{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}
	.navbar-nav {
  width: 100%;

  text-align: center;
}
.navbar-nav > li {
  float: none;

  display: inline-block;
  margin: 0 1%;

}
.navbar-default {

   background-color: white;
    border-color: #e7e7e7;

}
.navbar-default .navbar-nav>li>a {
    color: #333;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #577bb7;
}
.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
 
}
.wrapper {
position: relative;
font-size: 20px;

}
	input[type="text"] {
 		cursor:pointer;
 		display:block;
 		margin:0 auto;
 		width:100%;
 		float:left;
 		margin:3% auto;
 		text-align:center;
 		font-size:1.2rem;
 		padding:1rem;
 		border: 1px solid #ededed;
 		border-radius:10px;
 		color:#333;
 	}
 	input:focus{
 		 	color:#333;
 		 	outline:none;
 		 }
select{
width: 20%;
text-align: center;
height: 30%;
appearance : none;
-webkit-appearance : none;
 cursor: pointer;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select, option {
    text-align:right;   
}
.wrapper:before {
content: '';
width: 20px;
height: 20px;
display: block;
position: absolute;
top: 8px;
right: 8px;
background-image : url('img/wrapper.png');
background-repeat: no-repeat;
background-size: contain;
color:red;
}

.wrapper.active:before {
transform: rotate(180deg);
-webkit-transform: rotate(180deg);
}

 
 
    ul.checkbox-list-skills {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
  width: 80%;
   }
   ul.checkbox-list-skills  li {
	display:inline;
 	float: left;
 
    display: inline-block; /* Отображать как строчный элемент */
    min-width: 32%;
    margin-right: 5px; /* Отступ слева */
 
    padding: 3px; /* Поля вокруг текста */
   }
 
 	input{
 		cursor:pointer;
 		display:block;
 		margin:0 auto;
 		width:100%;
 		float:left;
 		margin:3% auto;
 		text-align:center;
 		font-size:1.2rem;
 		padding:1rem;
 		border: 1px solid #ededed;
 		border-radius:10px;
 		color:#333;
 		 
 		 &:focus{
 		 	color:#333;
 		 	outline:none;
 		 }
 	}
 /*
header{
	width: 100%;
 
    z-index: 1000;
    top: 0;
    left: 0;
    height: 2rem;
    border: none;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.2);

    nav {
   	 margin: 2em;
	}
	ul{
		 overflow: auto;
    list-style-type: none;
    text-align: center;

	}
	li{
		width:33.3%;
		height: 20px;
    margin-right: 0px;
 	text-align:center;
    padding: 0 20px;
    display: inline;
    cursor:pointer;
	
		&:hover{
			color:#587bb8;
		}
	}

}
.container{
	width: 100%;
    max-width: 50em;
    padding: 5em;
    margin: 0 auto;

 	article{
 		text-align:center;
 	 	font-size:2rem;
 	}

 	form{
 		display:block;
 		margin:0 auto;
 		width:55%;

 	 

 	}



}
.experience {
	ul{
 		display:block;
 		margin:0 auto;
		-moz-column-count:3; /* Firefox 
		-webkit-column-count:3; /* Safari and Chrome  
		column-count:3;
		height:auto;
 
 
	}

}*/