 *{
	margin:0;
	padding:0;
}


html,body{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif ;

}

body{
    background-image: url('../img/bgt.png');
    background-size:100%  ;
    background-attachment:fixed;
  
}


h3{
    margin:2rem auto;
}
img{
    display:block;
    margin:2rem auto;
}
.article{
    text-align:center;
    font-size:3rem;
      font-family: 'Roboto', sans-serif ;
}

.form-group{
width: 40%;
 
    display: block;
    margin: 0 auto;

}
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
	.navbar  {
  width: 100%;
background-color:white;
  text-align: center;
}
.navbar > li {
  float: none;

  display: inline-block;
  margin: 0 1%;

}
.navbar-default {

   background-color: white;
    border-color: #e7e7e7;
  .navbar-nav>li>a {
    color: #333;

}
.navbar-nav>li>a:hover {
    color: #577bb7;
}
}
 

.main-container {
        padding-top:5%;
}

 
.wrapper {
 
font-size: 20px;

}
	input[type="text"] , input[type="email"] {
 		cursor:pointer;
 		display:block;
 		margin:0 auto;
 		width:100%;
 		 
 		margin:3% auto;
 		text-align:center;
 		font-size:1.2rem;
 		padding:1rem;
 		border: 1px solid #ededed;
 		border-radius:10px;
 		color:#333;
        &:active{
            color:#333;
            border:none;
         }
 	}
 	
select{
 
 
 
-webkit-appearance:none;
 
 cursor: pointer;
    display: block;
    width: 60%;
    margin:0 auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    height:2.5rem;
 
    background-color: #fff;
    background-image: none;
    border: 1px solid #ededed;
    border-radius: 8px;
     text-align: center;
  text-align-last: center;
}
select:focus{
    outline:none;
}
 
option{
    text-align:center;
    color:#5174b0;
    font-weight:500;
    font-size:20px;
}
.wrapper:before {
content: '';
width: 20px;
height: 20px;
display: block;
position: absolute;
top: 8px;
right: 8px;
background-image : url('img/wrapper.png');
background-repeat: no-repeat;
background-size: contain;
color:red;
}

.wrapper.active:before {
transform: rotate(180deg);
-webkit-transform: rotate(180deg);
}

  .myself-form{
     width: 70%;
                display:  block;
                margin:  0 auto;
                position: relative;
                height: 12rem;
 }
 
    ul.checkbox-list-skills {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
  width: 80%;
  li {
    display:inline;
    float: left;
 
    display: inline-block; /* Отображать как строчный элемент */
    min-width: 30%;
    margin-right: 5px; /* Отступ слева */
 
    padding: 3px; /* Поля вокруг текста */
   }
   }
  
 
 	input[type="text"]{
 		cursor:pointer;
 		display:block;
 		margin:0 auto;
 		width:100%;
 		float:left;
 		margin:3% auto;
 		text-align:center;
 		font-size:1.2rem;
 		padding:1rem;
 		border: 1px solid #ededed;
 		border-radius:10px;
 		color:#333;
 		 
 		 &:focus{
 		 	color:#333;
 		 	outline:none;
 		 }
 	}
    .anketa-btn{
        display:block;
        margin:0 auto;
        background-color:#345996;
        color:white;
        margin:5% auto;
    }
    .control {
 
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
 
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius:5px;
    background-color: #e6e6e6;
    border: 0px solid #000000;
}
.control-radio .control_indicator {
    border-radius:none;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #e7f0ff;
    border: 1px solid #345996;
}

.control input:checked ~ .control_indicator {
    background: #345996;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
 @media screen and (max-width: 800px) {
 .form-group{
    width:100%;
 }
}